/* miniprogram/pages/searchGoods/searchGoods.wxss */
.choice_area{
    background-color: #66ccff;
    display: flex;
    height: 35px;
    text{
        padding: 5px;
    }
    .sort_area{
        flex: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        .sort_btn{
            background-color: #fff;
            color: #0082bf;
            height: 30px;
            border-radius: 15rpx;
            font-weight: 500;
        }
    }
    .filter_area{
        flex: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        picker{
            background-color: #fff;
            color: #0082bf;
            height: 30px;
            border-radius: 15rpx;
            display: flex;
            justify-content: center;
            align-items: center;   
            width: 140rpx;     
        }
    }
}