/* components/searchBox/searchBox.wxss */
/*搜索框样式*/
.searchBox {
  height: 30px;
  padding: 10px;
  background-color: #66ccff;
}
/*搜索类型选择器样式*/
.searchType {
  size: 10px;
  align-items: left;
}
/*搜索输入框样式*/
.searchInput {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 15rpx;
  color: #666;
}
